.formElement {
  margin-bottom: 3.2rem;
}

.formLabel {
  margin-bottom: 0.4rem;
}

.selectWidth {
  width: 320px;
}

.radioGroup {
  display: flex;
  gap: 1.6rem;
}

.error {
  margin-top: 3.2rem;
}
